# Week 2 - Monday Lesson (variable assignment, loops, lists)

In [ ]:
#this is not the original classwork document. This is a copy for homework and a re-watch on my free time.

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>

### Int & Float Assignments

##### Assigning int

In [1]:
# variable_name = value
# Python Standard Naming Convention - all lowercase - snake case - snake_case. No spaces
# can't start variable names with numbers

my_number = 5 #assigns the value 5 to variable my_number
print(my_number)
print(type(my_number))

5
<class 'int'>

In [2]:
another_number = 123

print(another_number)
print(type(another_number))

123
<class 'int'>

##### Assinging float

In [3]:
my_float_number = 5.67
print(my_float_number)
print(type(my_float_number))

5.67
<class 'float'>

In [7]:
# The decimal (.) that is doing the heavy lifting - tells Python that is a float

another_float = 6.
# another_float = 6 
# uncomment to see the decimal change to integer
print(another_float)
print(type(another_float))

6.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [11]:
# Use the operator (+) 
num1 = 43
# num1 = 43.3
# uncomment to see a float example

# int + Int -> int
# int + float -> float
# float + float -> float

num2= 21
result =num1 +num2
print(result)
print(type(result))

64
<class 'int'>

In [13]:
print(result)

result += 15

print(result)

64
79

In [14]:
x = 10

x+= 5 # x = x + 5

print(x)

15

##### Subtraction

In [18]:
#Use the minus operator [-]

difference = num1 - num2

print(difference)
print(type(difference))


# Assingment operator (-=)

difference-= 5 # difference = difference - 5

print(difference)

22
<class 'int'>
17

##### Multiplication

In [20]:
# use asterisk or star (*) for multiplication

product = 12* 7
print(product)
print(type(product))

# assignment Operator (*=)

product *= 2 # product = product * 2
print(product)

84
<class 'int'>
168

##### Division

In [23]:
# use the forward slash (/) for division

# division always returns a float

num3 = 50
num4 = 5

quotient = num3 / num4
print(quotient)
print(type(quotient))

# assignment operator (/=)

quotient /= 4 # quotient = quotient / 4

print(quotient)

10.0
<class 'float'>
2.5

##### Floor Division

In [27]:
# Sometimes also referred to as integer division

# Floor is defined as the highest integer that is less than or equal to the value

result_normal = 15 /4
print(result_normal)

# use the double slash (//) 
# a good way to think about it is that it cuts off the decimal


result_floor = 15 // 4
print(result_floor)

# assignment operator (//=)

result_floor //= 2 # result_floor = result_floor // 2

print(result_floor)

3.75
3
1

##### Modulo

In [29]:
# use the percent operator (%)
# will return the REMAINDER of a division problem

num5 = 48
num6 = 5

result_mod= num5 % num6
print(result_mod)

# assignment operator (%=)
result_mod %= 2 # result_mod = result_mod % 2
print(result_mod)

3
1

In [1]:
# determine if a number is even or odd

# if a number is even, 2 goes into the number evenly a with a remainder of 0
# if a number is odd, 2 goes into the number with a remainder of 1

some_number = 372
# some_number = 375
# uncomment to see the number change to odd

print(some_number % 2)

0

##### Exponential

In [3]:
# use the double asterisk (**) for exponentiation
square = 5 ** 2
print(square)

# assignment operator (**=)

square **= 3 # square = square ** 3
print(square)

25
15625

### String Input-Output

##### String Assignment

In [4]:
# variable_name = 'string' - quotation marks(' ' or "") tell Python that is a string
first_name = 'Mike'

print(first_name)
print(type(first_name))
# single quote example

Mike
<class 'str'>

In [5]:
last_name = "Welborn"

print(last_name)
print(type(last_name))
# double quote example

Welborn
<class 'str'>

In [1]:
# quotation marks are necessary

# wrong = "string"

# correct format for my weird example 

wrong = astring 
# uncomment to see the error

print(wrong)
# print(string)

NameError: name 'astring' is not defined

In [25]:
me = first_name

print(me)

Mike

##### Escape Characters

In [2]:
contraction1 ="You'cant do that"
print(contraction1)

You'cant do that

In [3]:
contraction2 = 'You can't do that'
print(contraction2)

SyntaxError: unterminated string literal (detected at line 1) (1937463103.py, line 1)

In [4]:
# backslash before quotation - read it literally
contraction3 = 'You can\'t do that'
print(contraction3)

You can't do that

In [5]:
quote1 = 'He said, "How are you?'
print(quote1)

He said, "How are you?

In [8]:
quote2 = "He said, \"How are you?\""
print(quote2)

He said, "How are you?"

In [13]:
# Backlash allows us to write the string on multiple lines and still be read as one line
long_string1 = 'Hello how are you\
 doing today?'
# shows space because theres a space after the \
print(long_string1)

long_string2 = 'Hello how are you\
doing today?'
# prints "youdoing" because there is no space after the \
print(long_string2)

Hello how are you doing today?
Hello how are youdoing today?

In [14]:
# \n - new line character
multi_line = "Hello\nHow are you?"
print(multi_line)

Hello
How are you?

In [15]:
# \t - tab character
tabbed ="Hello\tWorld"
print(tabbed)

Hello	World

#### Triple Quoted String

In [ ]:
# string that starts and ends with 3 quotations (single or double)
# Read line spacing literally

In [ ]:
# Raw String - start with r before the quotation marks (r'') or (r"")
# Read string literally - special characters are not special

##### String Concatenation

##### Type Conversion

In [ ]:
# to convert, pass the value into the built-in type function (usually the name of the class) -> will return a new object
# str for string, int for integers, float for floats, etc.

##### .format() and f-strings

In [ ]:
first_name = 'Tom'
last_name = 'Brady'
city = 'San Francisco'
age = 47

In [ ]:
# f-string - another fay of formatting a string -> uses curly braces with a variable name in them
# and a lowercase f before the string (f'') or (f"")

In [ ]:
# .format and f-string allows us to run expression for format our string

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [ ]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

### Booleans

### If Statements

In [ ]:
# if <expression>:   <expression> must result in a boolean (True or False) or object with (Truthy/Falsy) value
#     <statement>

# INDENTATION MATTERS!!!!!!
# All lines that are indented under the if statement will only run if the expression is True

In [ ]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)
# Return value is a Boolean (True or False)

## Using 'and'/'or' with If Statements

In [ ]:
# Truth Tree for OR:
# T or T = T
# T or F = T
# F or T = T
# F or F = F

# To pass through to the next round, a students needs at least a 2.5 GPA or at least a 25 ACT

In [ ]:
# Truth Tree for AND:
# T and T = T
# T and F = F
# F and T = F
# F and F = F

# To pass through to the next round, a students needs at least a 2.5 GPA AND at least a 25 ACT

In [ ]:
# Truth Tree for NOT:

### Else Statements

In [ ]:
# An else statement runs when the if statement DIRECLTY above it evaluates to False

### Elif Statements

In [ ]:
# An elif only runs when the if (or elif) directly above it evaluates to False

# Pretend we are checking tickets at the movie theater for an R-Rated movie
# If the movie goer is above 18, just say thanks and enjoy the show
# if the movie goer is above 14, check if they have a parent with them, can see if so
# no movie goers under 14 or under 18 without parent

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (ages 0-9) are half off. Print out the ticket price at the end</p>

In [ ]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00

### Lists

##### Declaring Lists

In [ ]:
# Ordered collection of data; indexable; mutable; iterable; elements of the list can be of any data type
 # Empty list declation

##### Indexing a List

In [ ]:
# list_var[start: stop: step] - start is INclusive, stop is EXclusive
# 0-based index (indices will always start at 0 -> length of list - 1)
# Makes a copy, original list is unaffected

In [ ]:
# List are mutable - means you can change the values using item assignment
# item assignment - list_var[index] = value

In [ ]:
# Strings are IMMUTABLE - can NOT be changed through item assignment
# But they are indexable

##### .append()

In [ ]:
# list_var.append(value) -> Add the value to the end of the list

##### .insert()

In [ ]:
# list_var.insert(index,value) -> Add the value at index and shift everything after to the right 1 index

##### .pop()

In [ ]:
# list_var.pop() -> If no argument, pop removes and returns the last element of the list

In [ ]:
# list_var.pop(index) -> will remove the element at index and return that item


##### .remove()

In [ ]:
# value to be removed , not index
# list_var.remove(value) -> will remove the FIRST instance of that value

##### del

In [ ]:
# del list_var[index]
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

In [ ]:
# Can cause index errors if not careful

##### Concatenating Two Lists

##### Lists can hold any datatype

In [ ]:
# lists can hold any dataype
# It is *recommended* to only store one datatype in a list

##### Lists Within Lists

In [ ]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

### For Loops

In [ ]:
# for <keyword> in <iterable>:
#     <statement>

In [ ]:
# Indentation Matters!
# Anything indented under the for loop is part of the loop

In [ ]:
# Strings are iterable

##### Continue Statement

In [ ]:
list_to_use = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# will continue to next iteration
# skip all code after it in the code block and go to the next item in the iterable

##### Break Statement

In [ ]:
                            # will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Nested/Double For Loops

### While Loops

In [ ]:
# while <conditional>:
#<statement to run while condition is true>

from random import randint

##### Looping 'While True'

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [2]:
i = 1
while True:
    cube = i ** 3
    if cube > 1000:
        break
    print(cube)
    i += 1

    #this confused the pants off of me at first because I was supposed to cube a number to 1000 lol.

27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [8]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for num in range(2, 101):  
    for i in range(2, num):  
        if num % i == 0:   
            break
    else:  
        print(num)

        

# Prime number - A number that is divisible by only 1 and itself

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [7]:
age = int(input('How old are you?'))
if age >= 66:
    print('senior')
elif age >= 18:
    print('adult')
else:
    print('kid')

    # I had to read this one twice. 18 to 65 not 64. Almost got me :p

senior